@charset "utf-8";

html {
    font-size: 62.5%;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    height: 100%;
}

body {
    font-size: 1.5em;
    color: #333333;
    background-color: #FFFFFF;
    margin: 0;
    height: 100%;
}

#nav {
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    background-color: #ffffff;
    z-index: 9999;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 2px #666;
}

#results {
    position: fixed;
    top: 25%;
    right: 0;
    width: 167px;
    height: 400px;
    background-color: #ffffff;
    z-index: 9999;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: -1px 1px 2px #666;
    overflow: hidden;
    overflow-y: auto;
}

#nav p {
    font-size: .8em;
    margin-top: 0;
    padding: 0 5px;
}

#map-container {
    height: 100%;
    width: 100%;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

.options {
    margin: 0 auto;
    text-align: center;
}

.inline {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.inline:first-child {
    margin-left: 0;
}

#slider {
    width: 275px;
    vertical-align: middle;
    margin-left: 0;
}

#stalk {
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    padding: 5px 20px;
    font-size: 1em;
    color: #333;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

#stalk:hover {
    border: 1px solid #999999;
    box-shadow: 0px 1px 1px #CCC;
}

#results div {
    position: relative;
    margin: 0 0 3px 0;
    padding: 0;
    box-shadow: 0px 1px 1px #CCC;
    cursor: pointer;
    float: left;
}

#results .time {
    position: absolute;
    top: 0;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, .7);
    padding: 3px;
    width: 144px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: pointer;
}

.post {
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
}

.post .thumbnail {
    float: left;
    vertical-align: top;
    margin-right: 15px;
}

.post .postInfo {
    float: left;
    vertical-align: top;
    max-width: 400px;
}

.post .postInfo p {
    word-wrap: break-word;
    margin: 0;
    padding: 1px 0 5px 0;
}

.post .postInfo p.label {
    font-weight: bold;
    padding: 0;
}

.post .thumbnail #fullSize {
    text-align:center;
    margin: 0;
    padding: 3px 0;
}

*:focus {
    outline: 0;
}